---
import Layout from "../layouts/Layout.astro";
import Header from "../layouts/Header.astro";
---

<Layout title="Experiences">
  <Header />
  <main>
    <div class="px-4 sm:px-8 md:px-20">
      <section id="experiences" class="container mx-auto py-12">
        <h2
          class="text-[#ff4309] text-center font-bold text-4xl leading-tight"
          data-aos="fade-up"
        >
          Experiences
        </h2>
        <p
          class="mt-2 leading-relaxed text-lg text-center leading-tight"
          data-aos="fade-up"
        >
          My experiences journey across professional environment
        </p>
        <div class="mt-8">
          <div class="grid grid-cols-1 gap-12" data-aos="fade-up">
            <div
              class="items-center gap-4 transition-all duration-300 transform hover:-translate-y-4"
            >
              <div
                class="bg-[#141414] rounded-xl shadow-lg p-6 lg:p-8 flex flex-col lg:flex-row items-center lg:items-start gap-8 transition-transform transform hover:-translate-y-2"
                data-aos="fade-up"
              >
                <div class="flex-shrink-0">
                  <div
                    class="w-48 h-48 rounded-full bg-white flex items-center justify-center"
                  >
                    <img
                      src="/assets/GizaLab.png"
                      alt="Giza Lab Logo"
                      class="max-w-full max-h-full"
                    />
                  </div>
                </div>
                <div
                  class="flex-shrink-0 w-full lg:w-64 text-center lg:text-left"
                >
                  <h2 class="text-[#ff4309] font-bold text-2xl">
                    UI/UX Designer
                  </h2>
                  <p class="text-xl font-medium mt-1">Giza Lab</p>
                  <div class="mt-4 space-y-2 text-lg">
                    <div
                      class="flex items-center justify-center lg:justify-start gap-2"
                    >
                      <i
                        class="fa-solid fa-id-badge w-5 text-center text-[#ff4309]"
                      ></i>
                      <p>Internship</p>
                    </div>
                    <div
                      class="flex items-center justify-center lg:justify-start gap-2"
                    >
                      <i
                        class="fa-solid fa-house w-5 text-center text-[#ff4309]"
                      ></i>
                      <p>Remote</p>
                    </div>
                    <div
                      class="flex items-center justify-center lg:justify-start gap-2"
                    >
                      <i
                        class="fa-solid fa-calendar-days w-5 text-center text-[#ff4309]"
                      ></i>
                      <p>February - June 2024</p>
                    </div>
                    <div
                      class="flex items-center justify-center lg:justify-start gap-2"
                    >
                      <i
                        class="fa-solid fa-location-dot w-5 text-center text-[#ff4309]"
                      ></i>
                      <p>Bandung, Indonesia</p>
                    </div>
                  </div>
                </div>
                <div class="flex flex-col text-[16px]">
                  <h4
                    class="py-1 px-3 text-sm font-semibold text-[#ff4309] bg-[#141414] rounded-xl shadow-md border-2 border-[#ff4309] mb-4 inline-block self-start"
                  >
                    Figma
                  </h4>
                  <p class="leading-relaxed mb-4">
                    As an internship participant at Giza Lab, I gained a lot of
                    insight about UI Design and UX Research, both in theory and
                    in practical case studies.
                  </p>
                  <ul class="list-disc list-inside space-y-2 leading-relaxed">
                    <li>
                      Actively participate in a UI/UX design mentoring programme
                      under the guidance of professional mentors.
                    </li>
                    <li>
                      Understanding UI/UX research and design fundamentals.
                    </li>
                    <li>
                      Create a research project document for application product
                      development.
                    </li>
                    <li>
                      Conduct user research by applying tools, such as user
                      persona, empathy map, and CJM.
                    </li>
                    <li>
                      Performing ideation using a real case example by applying
                      tools like brainwriting.
                    </li>
                    <li>
                      Inspection on the user interface using the heuristic
                      evaluation method and adjust it to the laws of UX.
                    </li>
                    <li>
                      Setting up a design system, also creating local and global
                      components that will be used in the process of designing
                      the user interface.
                    </li>
                    <li>
                      Create a user interface design (high-fidelity) and at the
                      same time manage the prototyping (prototype) using Figma.
                    </li>
                    <li>Performing usability testing in moderate to users.</li>
                  </ul>
                </div>
              </div>
            </div>
            <div
              class="items-center gap-4 transition-all duration-300 transform hover:-translate-y-4"
            >
              <div
                class="bg-[#141414] rounded-xl shadow-lg p-6 lg:p-8 flex flex-col lg:flex-row items-center lg:items-start gap-8 transition-transform transform hover:-translate-y-2"
                data-aos="fade-up"
              >
                <div class="flex-shrink-0">
                  <div
                    class="w-48 h-48 rounded-full bg-white flex items-center justify-center"
                  >
                    <img
                      src="/assets/Telkom.png"
                      alt="Telkom Indonesia Logo"
                      class="max-w-full max-h-full"
                    />
                  </div>
                </div>
                <div
                  class="flex-shrink-0 w-full lg:w-64 text-center lg:text-left"
                >
                  <h2 class="text-[#ff4309] font-bold text-2xl">
                    IT Tools Support
                  </h2>
                  <p class="text-xl font-medium mt-1">PT Telkom Indonesia</p>
                  <div class="mt-4 space-y-2 text-lg">
                    <div
                      class="flex items-center justify-center lg:justify-start gap-2"
                    >
                      <i
                        class="fa-solid fa-id-badge w-5 text-center text-[#ff4309]"
                      ></i>
                      <p>Internship</p>
                    </div>
                    <div
                      class="flex items-center justify-center lg:justify-start gap-2"
                    >
                      <i
                        class="fa-solid fa-building w-5 text-center text-[#ff4309]"
                      ></i>
                      <p>Onsite</p>
                    </div>
                    <div
                      class="flex items-center justify-center lg:justify-start gap-2"
                    >
                      <i
                        class="fa-solid fa-calendar-days w-5 text-center text-[#ff4309]"
                      ></i>
                      <p>July - August 2024</p>
                    </div>
                    <div
                      class="flex items-center justify-center lg:justify-start gap-2"
                    >
                      <i
                        class="fa-solid fa-location-dot w-5 text-center text-[#ff4309]"
                      ></i>
                      <p>Jakarta, Indonesia</p>
                    </div>
                  </div>
                </div>
                <div class="flex-grow text-[16px]">
                  <h4
                    class="py-1 px-3 text-sm font-semibold text-[#ff4309] bg-[#141414] rounded-xl shadow-md border-2 border-[#ff4309] mb-4 inline-block self-start"
                  >
                    Figma
                  </h4>
                  <h4
                    class="py-1 px-3 text-sm font-semibold text-[#ff4309] bg-[#141414] rounded-xl shadow-md border-2 border-[#ff4309] mb-4 inline-block self-start"
                  >
                    PRIME
                  </h4>
                  <p class="leading-relaxed mb-4">
                    Internship at Enterprise & Business Service Directorate. As
                    IT tools support, assisting in enhancing an application
                    called PRIME used by the ISPO Unit.
                  </p>
                  <ul class="list-disc list-inside space-y-2 leading-relaxed">
                    <li>Part of the IT Tools Support team.</li>
                    <li>
                      Gaining knowledge about end-to-end business processes in
                      the SDA division.
                    </li>
                    <li>
                      Redesign the system architecture diagram of the PRIME
                      application.
                    </li>
                    <li>
                      Creating UI design for the new features on the PRIME
                      application.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="certificates" class="container mx-auto py-24">
        <h2
          class="text-[#ff4309] text-center font-bold text-4xl leading-tight mb-12"
          data-aos="fade-up"
        >
          Certificates
        </h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
          <div
            class="bg-[#141414] rounded-xl shadow-lg overflow-hidden transition-all transform hover:!-translate-y-4 hover:shadow-xl"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <div>
              <img
                src="/assets/C1.png"
                alt="Certificate Figma for UI/UX Design"
                class="w-full aspect-video object-cover"
              />
            </div>
            <div class="p-6">
              <h3 class="text-white font-bold text-lg mb-2">
                Certificate of Skill Specialization: FIGMA FOR UI/UX DESIGN
              </h3>
              <p class="text-gray-400 text-sm">
                Credential ID: MS-2/6/2024-qj78D96VjczXuTH895
              </p>
            </div>
          </div>

          <div
            class="bg-[#141414] rounded-xl shadow-lg overflow-hidden transition-all transform hover:!-translate-y-4 hover:shadow-xl"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <div>
              <img
                src="/assets/C2.png"
                alt="Certificate Git and Github"
                class="w-full aspect-video object-cover"
              />
            </div>
            <div class="p-6">
              <h3 class="text-white font-bold text-lg mb-2">
                Certificate of Skill Specialization: GIT AND GITHUB
              </h3>
              <p class="text-gray-400 text-sm">
                Credential ID: MS-4/6/2024-DInoYogd02jX4JowO4I
              </p>
            </div>
          </div>

          <div
            class="bg-[#141414] rounded-xl shadow-lg overflow-hidden transition-all transform hover:!-translate-y-4 hover:shadow-xl"
            data-aos="fade-up"
            data-aos-delay="300"
          >
            <div>
              <img
                src="/assets/C3.png"
                alt="Certificate Google SRE Culture"
                class="w-full aspect-video object-cover"
              />
            </div>
            <div class="p-6">
              <h3 class="text-white font-bold text-lg mb-2">
                Developing a Google SRE Culture
              </h3>
              <p class="text-gray-400 text-sm">
                Credential ID: MS-2/6/2024-qj78D96VjczXuTH895
              </p>
            </div>
          </div>
          <div
            class="bg-[#141414] rounded-xl shadow-lg overflow-hidden transition-all transform hover:!-translate-y-4 hover:shadow-xl"
            data-aos="fade-up"
            data-aos-delay="400"
          >
            <div>
              <img
                src="/assets/C4.png"
                alt="Certificate Flutter Development"
                class="w-full aspect-video object-cover"
              />
            </div>
            <div class="p-6">
              <h3 class="text-white font-bold text-lg mb-2">
                Flutter Development
              </h3>
              <p class="text-gray-400 text-sm">
                Credential ID: MS-2/6/2024-qj78D96VjczXuTH895
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
</Layout>
