---
import Layout from "../layouts/Layout.astro";
import Header from "../layouts/Header.astro";
---

<Layout title="Projects">
  <Header />
  <main>
    <div class="px-4 sm:px-8 md:px-20">
      <section id="projects" class="container mx-auto py-12">
        <h2
          class="text-[#ff4309] text-center font-bold text-4xl leading-tight"
          data-aos="fade-up"
        >
          Projects
        </h2>
        <p
          class="mt-2 leading-relaxed text-lg text-center leading-tight"
          data-aos="fade-up"
        >
          Look into my previous projects i have completed
        </p>
        <div
          class="mt-8 grid grid-cols-1 md:grid-cols-2 gap-8"
          data-aos="fade-up"
        >
          <div
            class="bg-[#141414] rounded-xl shadow-lg transition-all duration-300 transform hover:-translate-y-2 hover:shadow-xl overflow-hidden group"
            data-aos="fade-up"
          >
            <img
              src="/assets/Empowr.png"
              alt="Empowr Application Thumbnail"
              class="w-full object-cover transition-transform duration-300 group-hover:scale-105"
            />
            <div class="p-6">
              <h3 class="text-white text-xl font-bold mb-2">
                Empowr Application
              </h3>
              <p class="text-gray-300 text-base mb-6">
                Empowr web application is an outsourcing transaction system
                designed to address the main problem of task crowding.
              </p>
              <h4
                class="py-1 px-3 text-sm font-semibold text-[#ff4309] bg-[#141414] rounded-xl shadow-md border-2 border-[#ff4309] mb-4 inline-block self-start"
              >
                Laravel
              </h4>
              <h4
                class="py-1 px-3 text-sm font-semibold text-[#ff4309] bg-[#141414] rounded-xl shadow-md border-2 border-[#ff4309] mb-4 inline-block self-start"
              >
                Tailwind CSS
              </h4>
              <h4
                class="py-1 px-3 text-sm font-semibold text-[#ff4309] bg-[#141414] rounded-xl shadow-md border-2 border-[#ff4309] mb-4 inline-block self-start"
              >
                OutSystems
              </h4>
              <h4
                class="py-1 px-3 text-sm font-semibold text-[#ff4309] bg-[#141414] rounded-xl shadow-md border-2 border-[#ff4309] mb-4 inline-block self-start"
              >
                MySQL
              </h4>
              <div class="flex justify-end">
                <a
                  href="#"
                  class="text-[#ff4309] font-semibold flex items-center gap-2 hover:opacity-80 transition-opacity group"
                >
                  See Detail
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    class="w-5 h-5 transition-transform group-hover:translate-x-1"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
          <div
            class="bg-[#141414] rounded-xl shadow-lg transition-all duration-300 transform hover:-translate-y-2 hover:shadow-xl overflow-hidden group"
          >
            <img
              src="/assets/Relawanin.png"
              alt="Relawanin Application Thumbnail"
              class="w-full object-cover transition-transform duration-300 group-hover:scale-105"
            />
            <div class="p-6">
              <h3 class="text-white text-xl font-bold mb-2">
                Relawanin Application
              </h3>
              <p class="text-gray-300 text-base mb-6">
                Relawanin is a application platform that aims to help volunteers
                join activities that are primarily in the environmental field.
              </p>
              <h4
                class="py-1 px-3 text-sm font-semibold text-[#ff4309] bg-[#141414] rounded-xl shadow-md border-2 border-[#ff4309] mb-4 inline-block self-start"
              >
                Flutter
              </h4>
              <h4
                class="py-1 px-3 text-sm font-semibold text-[#ff4309] bg-[#141414] rounded-xl shadow-md border-2 border-[#ff4309] mb-4 inline-block self-start"
              >
                CI3
              </h4>
              <h4
                class="py-1 px-3 text-sm font-semibold text-[#ff4309] bg-[#141414] rounded-xl shadow-md border-2 border-[#ff4309] mb-4 inline-block self-start"
              >
                Bootstrap
              </h4>
              <h4
                class="py-1 px-3 text-sm font-semibold text-[#ff4309] bg-[#141414] rounded-xl shadow-md border-2 border-[#ff4309] mb-4 inline-block self-start"
              >
                Firebase
              </h4>
              <div class="flex justify-end">
                <a
                  href="#"
                  class="text-[#ff4309] font-semibold flex items-center gap-2 hover:opacity-80 transition-opacity group"
                >
                  See Detail
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    class="w-5 h-5 transition-transform group-hover:translate-x-1"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
          <div
            class="bg-[#141414] rounded-xl shadow-lg transition-all duration-300 transform hover:-translate-y-2 hover:shadow-xl overflow-hidden group"
          >
            <img
              src="/assets/Hikeers.png"
              alt="Hikeers UI Design Thumbnail"
              class="w-full object-cover transition-transform duration-300 group-hover:scale-105"
            />
            <div class="p-6">
              <h3 class="text-white text-xl font-bold mb-2">
                Hikeers UI Design
              </h3>
              <p class="text-gray-300 text-base mb-6">
                Hikeers is an application for mountain climbers in Indonesia to
                make it easier for them to get information about mountains.
              </p>
              <h4
                class="py-1 px-3 text-sm font-semibold text-[#ff4309] bg-[#141414] rounded-xl shadow-md border-2 border-[#ff4309] mb-4 inline-block self-start"
              >
                Figma
              </h4>
              <div class="flex justify-end">
                <a
                  href="#"
                  class="text-[#ff4309] font-semibold flex items-center gap-2 hover:opacity-80 transition-opacity group"
                >
                  See Detail
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    class="w-5 h-5 transition-transform group-hover:translate-x-1"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
          <div
            class="bg-[#141414] rounded-xl shadow-lg transition-all duration-300 transform hover:-translate-y-2 hover:shadow-xl overflow-hidden group"
          >
            <img
              src="/assets/JabarUlin.png"
              alt="JabarUlin UI/UX Design Thumbnail"
              class="w-full object-cover transition-transform duration-300 group-hover:scale-105"
            />
            <div class="p-6">
              <h3 class="text-white text-xl font-bold mb-2">
                JabarUlin UI/UX Design
              </h3>
              <p class="text-gray-300 text-base mb-6">
                JabarUlin is a mobile application that provides information on
                various tourist destinations in West Java.
              </p>
              <h4
                class="py-1 px-3 text-sm font-semibold text-[#ff4309] bg-[#141414] rounded-xl shadow-md border-2 border-[#ff4309] mb-4 inline-block self-start"
              >
                Figma
              </h4>
              <div class="flex justify-end">
                <a
                  href="#"
                  class="text-[#ff4309] font-semibold flex items-center gap-2 hover:opacity-80 transition-opacity group"
                >
                  See Detail
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    class="w-5 h-5 transition-transform group-hover:translate-x-1"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
</Layout>
