---
import "../styles/globals.css";
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

    <link rel="icon" href="/assets/FDL.png" type="image/png" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"
    ></script>
    <style>
      body {
        font-family: "Poppins", sans-serif;
        background-color: #232323;
        color: white;
      }
    </style>
  </head>
  <body class="overflow-x-hidden">
    <slot />
    <footer class="text-center py-6">
      <p class="text-white">
        &copy; 2025 Fadel Alif Sadena. All rights reserved.
      </p>
    </footer>
    <script defer src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script defer src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"
    ></script>

    <script is:inline>
      document.addEventListener("DOMContentLoaded", function () {
        AOS.init({
          once: true,
          duration: 800,
        });

        var typed = new Typed("#hero-title", {
          strings: ['Hi, Im <span class="text-[#ff4309]">Fadel Alif</span>!'],
          typeSpeed: 250,
          showCursor: false,
        });
        var typedSubtitle = new Typed("#hero-subtitle", {
          strings: ["A Software Engineer", "A UI/UX Designer"],
          typeSpeed: 70, // Kecepatan mengetik
          backSpeed: 40, // Kecepatan menghapus
          backDelay: 2000, // Waktu jeda sebelum mulai menghapus
          loop: true, // Agar animasi berulang terus
        });
      });
    </script>
    <script>
      const scrollContainer = document.getElementById("tools-container");
      const scrollLeftButton = document.getElementById("scroll-left");
      const scrollRightButton = document.getElementById("scroll-right");

      // Jarak scroll setiap kali tombol di klik (dalam pixel)
      const scrollAmount = 300;

      scrollLeftButton.addEventListener("click", () => {
        scrollContainer.scrollBy({
          left: -scrollAmount,
          behavior: "smooth",
        });
      });

      scrollRightButton.addEventListener("click", () => {
        scrollContainer.scrollBy({
          left: scrollAmount,
          behavior: "smooth",
        });
      });
    </script>
  </body>
</html>
